<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cotext="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
<!--配置注解的扫描的跟路径-->
    <cotext:component-scan base-package="com.lanou"/>
    <!--配置hibernate-->
    <bean id="dataSource"
          class="org.apache.commons.dbcp.BasicDataSource">
        <!--数据库驱动文件-->
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <!--数据库地址-->
        <property name="url" value="jdbc:mysql://localhost:3306/CRM"/>
        <!--用户名-->
        <property name="username" value="root"/>
        <!--密码-->
        <property name="password" value="123456"/>
    </bean>

    <!--2.配置sessionFactory-->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <!--引入dbcp数据库连接池-->
        <property name="dataSource" ref="dataSource"/>
        <!--配置hibernate属性,原Hibernate配置文件中的可选项-->
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.show_sql"/>
                <prop key="hibernate.format_sql"/>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <!--<prop key="hibernate.current_session_context_class">thread</prop>-->
            </props>
        </property>

        <!--3.加载实体类Hibernate的映射文件
            自动匹配resource目录下所有.hbm.xml后缀文件-->
        <property name="mappingLocations" value="classpath*:resources/*.hbm.xml"/>
    </bean>
    <!--4.配置事物对象(切面)-->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--5.配置事物属性-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*"/>
            <tx:method name="delete*"/>
            <tx:method name="update*"/>
            <tx:method name="find*"/>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>
    <!--6.配置切面编程-->
    <aop:config>
        <!--配置切入点-->
        <aop:pointcut id="pointcut" expression="execution(* com.lanou.service.impl.*.*(..))"/>
        <!--配置通知-->
        <aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut"/>
    </aop:config>
    <!--配置user-->
    <bean id="user"
          class="com.lanou.domain.User">
        <property name="id" value="1"/>
        <property name="loginName" value="666"/>
        <property name="password" value="666"/>
    </bean>
    <!--配置dao层-->
    <bean id="userDao"
          class="com.lanou.dao.impl.UserDaoImpl">
        <!--给dao层实现类中的sessionFactory进行赋值-->
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="departmentDao"
          class="com.lanou.dao.impl.DepartmentDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="postDao"
          class="com.lanou.dao.impl.PostDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="staffDao"
          class="com.lanou.dao.impl.StaffDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--配置service层-->
    <bean id="userService"
          class="com.lanou.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="departmentService"
          class="com.lanou.service.impl.DepartmentServiceImpl">
       <property name="departmentDao" ref="departmentDao"/>
    </bean>

    <bean id="postService"
          class="com.lanou.service.impl.PostServiceImpl">
        <property name="postDao" ref="postDao"/>
    </bean>

    <bean id="staffService"
          class="com.lanou.service.impl.StaffServiceImpl">
        <property name="staffDao" ref="staffDao"/>
    </bean>
</beans>